@model IEnumerable<Repository.Service.ViewModels.NewsViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SliderTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SliderPhotoUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UseSliderPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UseSliderTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FriendlyUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublishedBefore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsViewCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Replacement_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsUpdateType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SliderTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SliderPhotoUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UseSliderPhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UseSliderTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FriendlyUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPublishedBefore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsViewCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Replacement_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsUpdateType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
